<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/course.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Smooch&display=swap');
        input{
            border: white;
        }
        input:hover{
            background-color: #EE6C4D;
            border: #EE6C4D;
            color: white;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">
            <h1>
                <%= course_title %>
            </h1>
        </div>
        <div class="child">
            <img src="https://yt3.ggpht.com/ytc/AMLnZu-ZXxG5Inn009QLZsWXUCRhzhb9mVExAXzcMuXQ=s900-c-k-c0x00ffffff-no-rj" alt="" class="imgg">
            <h5>Taught by: <%= teacher_name %>
            </h5>
        </div>
    </div>
    <hr style="text-align:left;margin-left:0">

    <div class="sect">
        <h2>Course Description</h2>
        <h3<%= course_description %>
            </h3>
            <p>A data structure is a named location that can be used to store and organize data. And, an algorithm is a
                collection of steps to solve a particular problem. Learning data structures and algorithms allow us to
                write efficient and optimized computer programs.</p>
    </div>
    <br>

    <div class="sect">
        <h2>Assignments</h2>
        <p>Displays all assignments uploaded by you</p>
        <form action="/assignment_new/<%=course_id%>">
            <input class="addA" type="submit" value="Upload New Assignment" />
        </form>
        <table>
            <% for(var i=0; i < result3.length; i++) { %>
                <div class="blocks">
                    <tr>
                        <td>
                            <a href="/teacher-home/assignment/<%=result3[i].assignment_id%>">
                                <%= result3[i].assignment_title %>
                            </a>

                        </td>
                        <td>
                            <%= result3[i].assignment_description %>
                        </td>
                        <td>
                            <%= result3[i].deadline %>
                        </td>
                        <td>
                            <a
                                href="/teacher-home/<%=result3[i].course_id%>/<%=result3[i].assignment_id%>/edit">edit</a>
                        </td>
                    </tr>
                </div>
                <% } %>
        </table>
    </div>

</body>

</html>