<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Tcourse.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Smooch&display=swap');
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">
            <h1>
                <%= course_title %>
            </h1>
        </div>
        <div class="child">
            <img src="https://www.courseduck.com/global/images/abdul_bari.jpg" alt="" class="imgg">
            <h5>Taught by: <%= teacher_name %>
            </h5>
        </div>
    </div>
    <hr style="text-align:left;margin-left:0">

    <div class="sect">
        <h3<%= course_description %>
            </h3>
            <p>A data structure is a named location that can be used to store and organize data. And, an algorithm is a
                collection of steps to solve a particular problem. Learning data structures and algorithms allow us to
                write efficient and optimized computer programs.</p>
    </div>
    <br>

    <div class="sect">
        <h2>Assignments</h2>
        <p>Display all assignments</p>
        <form action="/assignment_new/<%=course_id%>">
            <input class="addA" type="submit" value="add assignments" />
        </form>
        <table>
            <% for(var i=0; i < result3.length; i++) { %>
                <div class="blocks">
                    <tr>
                        <td style="background-color: #98c1d9;">
                            <a href="/teacher-home/assignment/<%=result3[i].assignment_id%>">
                                <%= result3[i].assignment_title %>
                            </a>

                        </td>
                        <td>
                            <%= result3[i].assignment_description %>
                        </td>
                        <td>
                            <%= result3[i].deadline %>
                        </td>
                        <td>
                            <a
                                href="/teacher-home/<%=result3[i].course_id%>/<%=result3[i].assignment_id%>/edit">edit</a>
                        </td>
                    </tr>
                </div>
                <% } %>
        </table>
    </div>

</body>

</html>